<section id="about" class="vh-75 dt bg-blue near-white w-100">
  <div class="dtc v-mid center measure tc">
    <h2 class="f2 f1-ns">Learn what all the fuzz is about!</h2>
    <hr class="mw4 center bn bg-near-white" style="height: 5px">
    <p class="f4 mw7 center">Tachyons Templates has everything you need to get started showing off your company. Simply copy this page, update the links and contact information, then start showing off.</p>
    <a href="#services" class="f3 ph4 pv3 mb2 dib link no-underline br-pill dim bg-near-white ba b--near-white blue page-scroll">See Our Services</a>
  </div>
</section>
