<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2017 <b class="ttu">
    <a href="http://www.tachyonstemplates.com/">Tachyons Templates</a>
    </b>., All Rights Reserved
    -
    <a href="http://www.tachyonstemplates.com/template-overview/tachyons-consultant">Download Free Creative Consultant Theme</a>
  </small>
  <div class="tc mt3">
    <a href="#" title="Language" class="f6 dib ph2 link mid-gray dim">Language</a>
    <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
    <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    <a href="http://deathtothestockphoto.com/" title="Header Photo Credit to DeathToStockPhoto" class="f6 dib ph2 link mid-gray dim">Header Photo Credit: <strong>DeathToStockPhoto</strong></a>
  </div>
</footer>
