<!-- bg.png graciously borrowed from deathtostockphoto.com -->
<!-- you must provide a link to their site with attribution if you keep using -->
<header class="near-black dt vh-100 w-100 bg-light-gray cover" style="background: url('{{'/img/bg.png' | prepend: site.baseurl}}') no-repeat center">
  <div class="dtc v-mid tc w-100">
    <h1 class="f1 lh-solid mw8 center tc b mt6 ph5-ns">{{site.header-headline}}</h1>
    {% include hr.html %}
    <p class="f3 mw8 center tc ph5">{{site.header-subheadline}}</p>
    <a href="#about" class="f3 ph4 pv3 mb2 dib link no-underline br-pill dim bg-blue ba b--blue near-white page-scroll">Learn More</a>
  </div>
</header>
