<header id="mainNav" class="z-max cf fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l b bg-animate p-animate bb b--black-10">
  <div class="w-80 center">
    <nav class="f5 b tracked fl w-50">
      <a class="link dim dib page-scroll" href="#page-top">{{site.nav-title}}</a>
    </nav>
    <nav class="f6 tracked tr fl w-50">
      <a class="link dim ph3 b dib page-scroll" href="#about">About</a>
      <a class="link dim ph3 b dib page-scroll" href="#services">Services</a>
      <a class="link dim ph3 b dib page-scroll" href="#contact">Contact</a>
    </nav>
  </div>
</header>
