<section id="services" class="mv3 pa0">
  <div class="tc mv4 pa0">
    <h2 class="f3 f1-ns">View our Services</h2>
    {% include hr.html %}
  </div>
  <div class="cf w-100 w-80-ns center">
    <div class="fl w-100 w-25-ns tc mb4">
      {% include icons/smartphone.svg %}
      <h3 class="f3">Device Mockups</h3>
      <p class="black-50 ph3">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
    </div>
    <div class="fl w-100 w-25-ns tc mb4">
      {% include icons/camera.svg %}
      <h3 class="f3">Flexible Use</h3>
      <p class="black-50 ph3">Put an image, video, animation, or anything else in the screen!</p>
    </div>
    <div class="fl w-100 w-25-ns tc mb4">
      {% include icons/package.svg %}
      <h3 class="f3">Free to Use</h3>
      <p class="black-50 ph3">As always, this theme is free to download and use for any purpose!</p>
    </div>
    <div class="fl w-100 w-25-ns tc mb4">
      {% include icons/unlock.svg %}
      <h3 class="f3">Open Source</h3>
      <p class="black-50 ph3">Since this theme is MIT licensed, you can use it commercially!</p>
    </div>
  </div>
</section>
